name: Port logs to elastic

on:
  workflow_call:
    inputs:
      release_tag:
        description: "The unique release tag"
        type: string
        required: true
      helm_env:
        description: "Helm Chart Environment"
        type: string
        required: true
    secrets:
      ELASTIC_HOST:
        required: true
      ELASTIC_KEY:
        required: true
      ELASTIC_INDEX:
        required: true

jobs:
  port-job-logs-to-elastic:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Actions
        uses: actions/checkout@v4

      - name: Ship job results
        uses: nkumar88/devops-tools/.github/actions/port-logs@main
        with:
          release_tag: ${{ inputs.release_tag }}
          helm_env: ${{ inputs.helm_env }}
          elastic_host: ${{ secrets.ELASTIC_HOST }}
          elastic_key: ${{ secrets.ELASTIC_KEY }}
          elastic_index: ${{ secrets.ELASTIC_INDEX }}
