name: Port logs to elastic

on:
  workflow_call:
    inputs:
      release_tag:
        description: "The unique release tag"
        type: string
        required: true
      helm_env:
        description: "Helm Chart Environment"
        type: string
        required: true

jobs:
  port-job-logs-to-elastic:
    runs-on: ubuntu-latest

    steps:
      - name: Ship job results
        uses: ./github/workflows/ship-job-results-to-elastic.yaml
        with:
          release_tag: ${{ inputs.release_tag }}
          helm_env: ${{ inputs.helm_env }}
